*, html, body { font-family: 'Open Sans', sans-serif; }
body { height: 100vh; position: relative;}
img { max-width: 100%; }
input { width: 100%; }
a, a:hover, a:active, a:visited { color: unset; }

/* Text */
p { margin: 0 0 16px 0; }
p, ul li { font-size: calc(0.8rem + 0.2vw); line-height: 1.5; font-weight: 400; color: var(--text); }

.big { font-size: calc(1.15rem + 1.15vw); }

h1, h2, h3, h4, h5, h6 { font-weight: 400; margin-top: 0; margin-bottom: 16px; line-height: 100%; color: var(--title); }

h1, .h1 { font-size: calc(2.5rem + 2.5vw); }
h2, .h2 { font-size: calc(2rem + 2vw); }
h3, .h3 { font-size: calc(1.5rem + 1.5vw); }
h4, .h4 { font-size: calc(1.2rem + 1.2vw); }
h5, .h5 { font-size: calc(1rem + 1vw); }
h6, .h6 { font-size: calc(0.75rem + 0.75vw); }

/* Lists */

ul {
	padding: 0;
	margin: 0;
}

ul li {
	list-style-type: none;
}

/* Colors */
:root {
    --primary:   #4D65F1; /* var(--primary) */
    --secondary: #874DF1; /* var(--secondary) */
    --tertiary:  #F5A55E; /* var(--tertiary) */
    --title:     #4D4D4D; /* var(--title) */
    --text:      #000000; /* var(--text) */
}

.c-primary   { color: var(--primary); }
.c-secondary { color: var(--secondary); }
.c-tertiary  { color: var(--tertiary); }
.c-title     { color: var(--title); }
.c-text      { color: var(--text); }
.c-white     { color: #FFFFFF; }
.c-black     { color: #000000; }

.bgc-primary   { background-color: var(--primary); }
.bgc-secondary { background-color: var(--secondary); }
.bgc-tertiary  { background-color: var(--tertiary); }
.bgc-title     { background-color: var(--title); }
.bgc-text      { background-color: var(--text); }
.bgc-green      { background-color:  #3cdd0b; }
.bgc-white     { background-color: #FFFFFF; }
.bgc-black     { background-color: #000000; }



/* Titles */
.title {
	margin-bottom: 0;
	font-weight: bold;
	font-size: calc(1.2rem + 1.2vw);
	display: inline-block;
	position: relative;
}
.underline {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0%;
	transform: translateX(-0%);
	min-width: 2%;
	max-width: 100%;
	background-color: var(--title);
	height: 3px;
	border-radius: 4rem;
}
.underline-white { background-color: #FFFFFF; }
.underline-primary { background-color: var(--primary); }
.underline-secondary { background-color: var(--secondary); }
.underline-tertiary { background-color: var(--tertiary); }

.viewport{
	/*height: 10vw;
    width: 10vw;*/
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    padding: 5px;
	box-shadow: 0 0 10px 2px #0000004a;
	width:100vw;
	/*max-width: 68px;
	max-height: 68px;*/
}

.form-border {
	border-color: rgb(214, 214, 214);
	border-width: .2rem;
	border-style: solid;
	border-radius: 2rem;
	background-color: rgb(233, 233, 233);
	padding-left: 0;
	padding-right: 0;

}

.but-col{
	padding: 0;
	padding-bottom: 15px;
	
}


.but-selected{
	background-color: #7adb92 !important; 
	border-color: #8ae5a1 !important;
	/*border-radius: 2rem;*/
	box-shadow: 0 0 20px 10px #ffffffdc;
}

.but-grey{
	background-color: #b1b1b1 !important; 
	border-color: #818181 !important;
	box-shadow: 0 0 20px 2px #222222dc;
}

.dropme{
	width: 100%;
}

.rightSide{
	position: absolute;
    right: 10;
    bottom: auto;
    top: 15;
}


.collapseable{
	background-color: #318fee;
    border-color: #1b75be;
}

.collapsed{
	background-color: #f8f9fa;
    border-color: #f8f9fa;

}


/* borrowed **********************************************/
.inputGroup{
	background-color: #fff;
    display: block;
    margin: 10px 0;
    position: relative;
}

.inputLabel{
	padding: 12px 30px;
      width: 100%;
      display: block;
      text-align: left;
      color: #3C454C;
      cursor: pointer;
      position: relative;
      z-index: 2;
      transition: color 200ms ease-in;
	  overflow: hidden;
	  
}


.checkMe{
	width: 32px;
        height: 32px;
        content: '';
        border: 2px solid #D1D7DC;
        background-color: #fff;
        background-repeat: no-repeat;
        background-position: 2px 3px;
        border-radius: 50%;
        z-index: 2;
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        transition: all 200ms ease-in;
}

.checkMe:checked{
	color: #fff;
}

.inputLabel:checked{
	color: rgb(0, 0, 0);
}


.checkMe:checked::after{
	background-color: #54E0C7;
	border-color: #54E0C7;
}

.slideContainer{
	max-width: 100%;
	
}


/***************** Hidden Spans ****************/
.spanHidden{
	display: none;
}

	


/******************* BORROWED *******************/
.inputGroup {
	background-color: #fff;
	display: block;
	margin: 10px 0;
	position: relative;
}
.inputGroup label {
	padding: 12px 30px;
	width: 100%;
	display: block;
	text-align: left;
	color: #3c454c;
	cursor: pointer;
	position: relative;
	z-index: 2;
	transition: color 200ms ease-in;
	overflow: hidden;
}
.inputGroup label:before {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	content: '';
	background-color: #5562eb;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) scale3d(1, 1, 1);
	transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1); /* Speed of blue circle */
	opacity: 0;
	z-index: -1;
}
.inputGroup label:after {
	width: 32px;
	height: 32px;
	content: '';
	border: 2px solid #d1d7dc;
	background-color: #fff;
	background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
	background-repeat: no-repeat;
	background-position: 2px 3px;
	border-radius: 50%;
	z-index: 2;
	position: absolute;
	right: 30px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	transition: all 200ms ease-in;
}
.inputGroup input:checked ~ label {
	color: #fff;
}
.inputGroup input:checked ~ label:before {
	transform: translate(-50%, -50%) scale3d(100, 100, 1);
	opacity: 1;
}
.inputGroup input:checked ~ label:after {
	background-color: #54e0c7;
	border-color: #54e0c7;
}
.inputGroup input {
	width: 32px;
	height: 32px;
	order: 1;
	z-index: 2;
	position: absolute;
	right: 30px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	visibility: hidden;
}
body {
	background-color: #d1d7dc;
	font-family: 'Fira Sans', sans-serif;
}

