<html>
  <head>
    <title>Pi Video Surveillance</title>
  </head>
  <body>
    <h1>Pi Video Surveillance</h1>
    <img src="{{ url_for('video_feed') }}">
    <p src="{{ url_for('boxes') }}"> </p>
  
      <form action = "/submit" method="post">
        <h2> Vision App Settings</h2>
        
        <input type="radio" id="male" name="gender" value="male">
        <label for="male">Male</label><br>

        <input type="radio" id="female" name="gender" value="female">
        <label for="female">Female</label><br>

        <p> Show Boxes? </p>
        <input type="radio" id="BoxToggleYes" name="ShowBoxes" value="yes">
        <label for="BoxToggleYes">Yes</label><br>

        <input type="radio" id="BoxToggleNo" name="ShowBoxes" value="no">
        <label for="BoxToggleNo">No</label><br>

        <p> Seperate boxes or merge them? </p>
        <input type="radio" id="MergeBoxesYes" name="MergeBoxes" value="yes">
        <label for="BoxToggleYes">Yes</label><br>

        <input type="radio" id="MergeBoxesNo" name="MergeBoxes" value="no">
        <label for="BoxToggleNo">No</label><br>

        <p> Detect </p>
        <input type="radio" id="DetectTypePeople" name="DetectType" value="people">
        <label for="DetectTypePeople">People</label><br>

        <input type="radio" id="DetectTypeObjects" name="DetectType" value="objects">
        <label for="DetectTypeObjects">Objects</label><br>

        <input type="radio" id="DetectTypeMotion" name="DetectType" value="motion">
        <label for="DetectTypeMotion">Motion</label><br>


        <p><input type = "submit" value = "submit" /> </p>
      </form>
  
  
  </body>
</html>