<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link href="https://fonts.googleapis.com/css?family=Open Sans:300,400,500,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/assets/styles.css">
    <link rel="stylesheet" href="/static/assets/styles.css">
    <script src="https://kit.fontawesome.com/37b5bdb510.js" crossorigin="anonymous"></script>
    <script src="/static/assets/subscribe.js"></script>


    <link rel="stylesheet "href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle/css/bootstrap4-toggle.min.css">
    
    <title>Pi Video Surveillance</title>
  </head>


  <body>

    <script src="/static/assets/currentlySelected.js"></script>

    <div class="container-fluid text-center">
      <div class="col-12">
        <h1>Pi Video Surveillance</h1>
      </div>
    </div>
    
    <!-- Video feed section -->
    <div class="container-fluid col-12">
      <div class="row">
        <div class="container-fluid col-12 col-lg-8 align-content-center text-center">
          <h3> Live feed <i class="fas fa-camera"></i> </h3>
          <img src="{{ url_for('video_feed') }}" class="viewport bgc-primary">
          <p src="{{ url_for('boxes') }}"> </p>
        </div>
        
        
        <!-- Config section -->
        <div class="container-fluid col-12 col-lg-4 justify-content-center text-center">
          <h3> Configuration <i class="fas fa-cogs"></i> </h3>
          <!-- Button container -->
          <div class="form-border shadow col-12">
            <div class="col-12 container but-col">
              <h5> <br> Detection Algorithm </h5>
            </div>
            

            <!-- Motion settings -->
            <div class="col-12 container but-col nopadding">
              <form class="form" action = "/submit" method="post">
                <div class="inputGroup">
                  <input id="motion" name="DetectType" type="radio" value="motion"/>
                  <label for="motion" class="inputLabel">Motion Based Detection <span class="spanHidden" id="motion"> (Current) </span> </label>
                </div>
  
                <div class="inputGroup">
                  <input id="hog" name="DetectType" type="radio" value="hog"/>
                  <label for="hog" class="inputLabel">People Detector<span class="spanHidden" id="hog"> (Current) </span></label>
                </div>

                <div class="inputGroup">
                  <input id="bgsub" name="DetectType" type="radio" value="bgsub"/>
                  <label for="bgsub" class="inputLabel">Background Subtraction<span class="spanHidden" id="bgsub"> (Current) </span></label>
                </div>

                <div class="inputGroup">
                  <input id="YOLO" name="DetectType" type="radio" value="YOLO"/>
                  <label for="YOLO" class="inputLabel">AI Detection<span class="spanHidden" id="YOLO"> (Current) </span></label>
                </div>
              
  
              <!--</form>-->
              
  
            
            <h5> Additional settings </h5>
            

              <!-- Algorithm settings-->
              <div class="but-col row justify-content-center">
                <button type="button" class="btn btn-light btn-lg dropme" data-toggle="collapse" href="#collapseMotion" aria-expanded="true" aria-controls="collapseMotion"> Algorithm Options <i class="fas fa-caret-down"></i></button>
                <div class="collapse col-12" id="collapseMotion">
                  <p> Motion settings </p>
                  <div class="slideContainer container-fluid">
                    <p> Min detection size:</p>
                    <input type="range" min="1" max="100" value="10" class="slider" id="minSize">
                  </div>
                  <div class="slideContainer container-fluid">
                    <p> Max detection size:</p>
                    <input type="range" min="1" max="100" value="90" class="slider" id="maxSize">
                  </div>
                </div>
              </div>
            
            <!-- Reporting -->
           <div class="but-col row justify-content-center">
            <button type="button" class="btn btn-light btn-lg dropme" data-toggle="collapse" href="#collapseMotion2" aria-expanded="true" aria-controls="collapseMotion"> Configure Reporting <i class="fas fa-caret-down"></i></button>
            <div class="collapse col-12 align-content-center" id="collapseMotion2">
              <p><br> Reporting Channel </p>
              <div class="inputGroup">
                <input id="noReporting" name="ReportMedium" type="radio" value="noReporting"/>
                <label for="noReporting" class="inputLabel"><i class="fas fa-volume-mute"></i> No Reporting <span class="spanHidden" id="noReporting"> (Current) </span></label>
              </div>

              <div class="inputGroup">
                <input id="discord" name="ReportMedium" type="radio" value="discord"/>
                <label for="discord" class="inputLabel"><i class="fab fa-discord"></i> Discord<span class="spanHidden" id="discord"> (Current) </span></label>
              </div>

              <div class="inputGroup">
                <input id="twitter" name="ReportMedium" type="radio" value="twitter"/>
                <label for="twitter" class="inputLabel"> <i class="fab fa-twitter"></i> Twitter<span class="spanHidden" id="twitter"> (Current) </span></label>
              </div>

              <div class="inputGroup">
                <input id="email" name="ReportMedium" type="radio" value="email"/>
                <label for="email" class="inputLabel"> <i class="fas fa-envelope"></i> E-mail <span class="spanHidden" id="email"> (Current) </span></label>
              </div>

              
                <input id="ReportTo" name="ReportTo" type="email" placeholder="Email Address"/>
                
              

              <p><br> Report Type </p>
              <div class="inputGroup">
                <input id="count" name="ReportType" type="radio" value="count"/>
                <label for="count" class="inputLabel"> <i class="fas fa-users"></i> Count <span class="spanHidden" id="count"> (Current) </span></label>
              </div>

              <div class="inputGroup">
                <input id="snapshot" name="ReportType" type="radio" value="snapshot"/>
                <label for="snapshot" class="inputLabel"> <i class="fas fa-camera"></i> Snapshot <span class="spanHidden" id="counter"> (Current) </span></label>
              </div>

              <p><br> Report Interval... </p>

              <div class="inputGroup">
                <input id="time" name="ReportFreq" type="radio" value="betweenTimes"/>
                <label for="time" class="inputLabel"> <i class="far fa-clock"></i> On detection between times... <span class="spanHidden" id="discord"> (Current) </span></label>
              </div>

              <!-- Clocks here?? -->
              <input type="time" id="FromTime" name="FromTime">
              <input type="time" id="ToTime" name="ToTime">

              <div class="inputGroup">
                <input id="timer" name="ReportFreq" type="radio" value="timer"/>
                <label for="timer" class="inputLabel"> <i class="far fa-clock"></i> Every x minutes... <span class="spanHidden" id="discord"> (Current) </span></label>
              </div>
              <input type="number" id="everyXMinutes" name="everyXMinutes" min="1" max="1440">
            </div>
           </div>

           <!-- Bounding Boxes -->
           <div class="but-col row justify-content-center">
            <button type="button" class="btn btn-light btn-lg dropme" data-toggle="collapse" href="#collapseMotion3" aria-expanded="true" aria-controls="collapseMotion"> Bounding Boxes <i class="fas fa-caret-down"></i></button>
            <div class="collapse col-12" id="collapseMotion3">

              <p> Box settings </p>

              <div class="inputGroup">
                <input id="none" name="BoxType" type="radio" value="none"/>
                <label for="none" class="inputLabel"> <i class="fas fa-user-alt"></i> Don't draw boxes <span class="spanHidden" id="discord"> (Current) </span></label>
              </div>
              <div class="inputGroup">
                <input id="merge" name="BoxType" type="radio" value="merge"/>
                <label for="merge" class="inputLabel"> <i class="fas fa-portrait"></i> Merge boxes together <span class="spanHidden" id="discord"> (Current) </span></label>
              </div>
              <div class="inputGroup">
                <input id="all" name="BoxType" type="radio" value="all"/>
                <label for="all" class="inputLabel"> <i class="fas fa-portrait"></i> Draw all boxes <span class="spanHidden" id="discord"> (Current) </span></label>
              </div>
            </div>
           </div>

            <!-- Optimisation -->
            <div class="but-col row justify-content-center">
              <button type="button" class="btn btn-light btn-lg dropme" data-toggle="collapse" href="#collapseOptimisation" aria-expanded="true" aria-controls="collapseMotion"> Optimisation Settings <i class="fas fa-caret-down"></i></button>
              <div class="collapse col-10 align-content-center" id="collapseOptimisation">
                <p><br> Optimisation Settings </p>

                
                <div class="row">
                  <div class="col-9">
                    <p> Black and White</p>
                  </div>
                  <div class="col-3">
                    <input type="checkbox" data-toggle="toggle" data-offstyle="secondary" id="BlackAndWhite" name="BlackAndWhite">
                  </div>
                </div>

                <div class="row">
                  <div class="col-9">
                    <p> Reduce Resolution </p>
                  </div>
                  <div class="col-3">
                    <input type="checkbox" data-toggle="toggle" data-offstyle="secondary" id="ReduceRes" name="ReduceRes" >
                  </div>
                </div>
              </div>
             </div>

           <!-- Submit button -->
            <div class="col-12 container but-col">
              <input type="submit" value = "Apply Changes" class="btn btn-primary btn-lg bgc-green"></input>
            </div>
          </div>



          


        
        
        </div>
      </form>
      </div>
    </div>

    
    
      
  

      <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
      <script>
      AOS.init();
      </script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle/js/bootstrap4-toggle.min.js"></script>
  
  </body>
</html>